extends layout

block content
    h1 Your Results
    p Here are your results:
    p Book Genre: #{bookGenre}
    p Books Or Movies: #{books} #{movies} #{other}
    p Your description Input: #{description}
    p Your Hobby Choice: #{hobbyChoice}
    p Your Color Choice: #{color}
    a(href="/") Back To Form